*{
    margin: 0;
    padding: 0;
}

.categories{
    text-align: center;
    padding: 30px;
    margin: 30px;
    
}

.category__containers{
    display: flex;
    margin-top: 30px;
    gap: 10px;
  padding: 10px;
    
}

.category{
  flex: 1;
  height: 100px;
  border: 1px solid #000;
  padding: 70px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor:pointer;
  background-color: rgb(123, 193, 123);
  font-size: 25px;
}

.category:hover{
  background-color: white;
}

